.checkout-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
.checkout-page-title {
    color: white;
}
.global-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

/* left side */
.payment-form-container {
    flex: 1;
    height: 700px;
    padding: 0px 10px 20px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    background: linear-gradient(
        180deg,
        #1B2227 0%,   /* slightly lighter top */
        #11171C 40%,  /* mid contrast */
        #0A0D11 70%,  /* deeper separation */
        #050608 100%  /* not pure black */
    );
    border: 1px solid #343A46;
}
.payment-form-h1 {
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    text-align: start;
    font-size: 28px;
    border-bottom: 1px solid #343A46;
    padding: 10px 0px;
    margin-bottom: 15px;
}

.email-div {
    height: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner-email-div {
    width: 100%;
    flex: 1;
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #343A46;
    border-radius: 8px;
    color: rgb(200, 200, 200);
}
.inner-email-div p {
    margin-right: 10px;
}
.email-input {
    border: none;
    height: 10px;
    border-radius: 0px 4px 4px 0px;
}
.under-email-input-div {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    
}
.email-under-text {
    margin-right: 10px;
    color: rgb(130, 130, 130);
}
.log-in-link {
    text-decoration: none;
    color: rgb(160, 160, 160);
}

/* hipping adress div */
.shipping-adress-div {
    flex: 1;
    width: 100%;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 1px solid #343A46;
    border-radius: 8px;
}
.shipping-adress-div h1 {
    margin: 0;
    margin-bottom: 15px;
    padding: 5px 0px 8px 40px;
    width: 100%;
    color: white;
    height: 40px;
    border-bottom: 1px solid #343A46;
    font-size: 22px;
}
.input-fields-div {
    flex: 1;
    width: 95%;
    padding: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 40px;
    gap: 20px;
}
.input-fields-div input {
    background-color: rgb(50, 50, 50);
    color: white;
    padding-left: 8px;
    border: 1px solid #343A46;
    border-radius: 4px;
}
.input-fields-div input::placeholder {
  color: rgb(167, 167, 167);
  opacity: 1;
}
.country-select-bar {
    background-color: rgb(50, 50, 50);
    color: white;
    padding-left: 8px;
    border: 1px solid #343A46;
    border-radius: 4px;
}

/* payment method container */
.payment-method-div {
    flex: 1;
    width: 99%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 4px;
    border: 1px solid #343A46;
    border-radius: 8px;
    overflow: hidden
}
.payment-method-div h1 {
    width: 100%;
    border-bottom: 1px solid #343A46;
    font-size: 22px;
    text-align: center;
    height: 25px;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}
.everything-under-title {
    flex: 1;
    width: 97.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    padding: 10px;
}
.card-info-div {
    height: 70px;
    width: 99%;
    padding: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    border: 1px solid #343A46;
    border-radius: 4px;
}
.card-mm-yy-div {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.inner-mm-yy-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.card-payment-icons, .inner-mm-yy-div input {
    border: 1px solid #343A46;
    padding: 3px;
    border-radius: 3px;
    color: rgb(200, 200, 200);
}
.inner-mm-yy-div input {
    width: 52px;
    text-align: center;
        background: linear-gradient(
        90deg,
        #1C1F26 0%,
        #252728 100%
    );
}
.card-number-input {
    width: 98.6%;
    height: 30px;
    background-color: rgb(50, 50, 50);
    color: white;
    padding-left: 8px;
    border: 1px solid #343A46;
    border-radius: 4px;
}

.pay-button-div {
    flex: 1;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.pay-button-div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 34px;
    padding-right: 10px;

    background: linear-gradient(
        180deg,
        #1d222d 0%,   /* slightly lighter top */
        #191d27 100%  /* not pure black */
    );
    border: 1px solid #343A46;
    border-radius: 4px;
}







/* right side  */
.order-summary-container {
    height: 340px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
        180deg,
        #1C1F26 0%,
        #16191f 100%
    );
    padding: 10px;
    border: 1px solid #343A46;
}
.order-summary-h1 {
    height: auto;
    width: 100%;
    color: white;
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    border-bottom:1px solid transparent;
    border-image: linear-gradient(
        to right,
        transparent,
        rgba(120, 255, 220, 0.9) 5%,
        transparent
    ) 1;
}

.checkout-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;

    border-bottom:1px solid transparent;
    border-image: linear-gradient(
        to right,
        transparent,
        rgba(120, 255, 220, 0.9) 5%,
        transparent
    ) 1;
}
.sub-total-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(205, 205, 205);
    font-size: 20px;
    

}
.proceed-btn-txt-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proceed-btn, .left-section-pay-btn{
    width: 30%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    letter-spacing: 0.18em;
    text-decoration: none;
    text-align: center;
    


    margin-top: 20px;
    margin-bottom: 25px;

    border-radius: 4px;

    background: rgba(0, 255, 200, 0.6);
    color: #f9f9f9;

    border: 1px solid rgb(55, 255, 212);
    cursor: pointer;

    box-shadow:
        inset 0 0 10px rgba(0, 255, 200, 0.25),
        0 0 10px rgba(0, 255, 200, 0.25);

    transition: 0.3s ease;
}
.left-section-pay-btn {
    width: 25%;
}
.proceed-txt {
    margin-top: 15px;
    width: 100%;
    text-align: start;
    font-size: 18px;
    color: rgb(205, 205, 205);
    
}

.secure-checkout-container {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.lock-img {
    width: 50px;
    height: auto;
    margin-right: 7px;
}
.secure-checkout-txt {
    flex: 1;
    color: rgb(205, 205, 205);
    font-size: 18px;
    text-align: start;
}