.item-page{
    color: #FBFCFC;
}

.item-card-container {
    background-color: rgba(2, 2, 2, 0.308);
    height: 800px;
    width: 1400px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.452);

    padding: 15px;


}

.left-side{
    height: 100%;
    width: 60%;
    padding-right: 15px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.left-side-mid-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
}

.img-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    width: 85%;
}

.mid-buttons-container{
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
}

.mid-button{
    height: 60px;
    width: 60px;
    border-radius: 999px;

    background-color: transparent;
    border: none;

    font-size: 50px;
    color: whitesmoke;
}


.small-images-container{
    height: 100%;
    width: 160px;
    padding-top: 10px;

    background: linear-gradient(
        135deg,
        rgba(39, 39, 39, 0.062),
        rgba(78, 78, 78, 0.151),
        rgba(36, 36, 36, 0.103)
    );
    border-radius: 15px;

    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.096);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;

    row-gap: 10px;
}

.small-img-container{
    flex-shrink: 0;
    background: linear-gradient(
        5deg,
        rgba(80, 79, 79, 0.808),
        rgba(36, 36, 36, 0.151),
        rgba(65, 64, 64, 0.432)
    );
    width: 90%;
    height: 180px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side{
    background: linear-gradient(
        135deg,
        rgba(22, 22, 22, 0.062),
        rgba(78, 78, 78, 0.151),
        rgba(0, 0, 0, 0.103)
    );

    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgba(128, 128, 128, 0.473);
}

.item-name{
    letter-spacing: 0.10em;
    font-size: 55px;
    margin-top: 40px;

}

.item-price{
    font-size: 50px;
    margin-top: 10px;
    color: rgba(120, 255, 220, 0.9);
}

.mini-description{
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;

    color: white;
    font-size: 22px;
    letter-spacing: 0.07em;
}

.button{
    font-size: 30px;
    letter-spacing: 0.16em;


    margin-bottom: 25px;

    width: 270px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 999px;

    background: transparent;
    color: #eafffb;

    border: 1px solid rgba(0, 255, 200, 0.6);
    cursor: pointer;

    box-shadow:
        inset 0 0 15px rgba(0, 255, 200, 0.25),
        0 0 20px rgba(0, 255, 200, 0.25);

    transition: 0.3s ease;
}




.info-container{
    width: 100%;

    margin-top: 150px;
    margin-bottom: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}

.info-button{
    background-color: transparent;
    width: 1000px;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;

    color: whitesmoke;
    font-size: 25px;
    text-align: start;
    
    border-color: #FBFCFC;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

.info-button:hover{
    cursor: pointer;
    color: white;
    border-color: white;
}

.info-button-txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-section{
    display: flex;
    flex-direction: column;
}

.description-section{
    display: flex;
    flex-direction: column;
}

.details-section{
    display: flex;
    flex-direction: column;
}





.reviews{
    min-height: 400px;
    margin: 15px;

    display: flex;
    flex-direction: column;
}

.reviews-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 700px;
    padding-right: 15px;

    overflow-y: scroll;
}

.reviews-container::-webkit-scrollbar {
    width: 8px;
}

.reviews-container::-webkit-scrollbar-track {
    background: #000;
}

.reviews-container::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 8px;
}

.add-review{
    margin-top: 40px;
    height: 50px;
    width: 100%;
}

.add-review{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.review-input{
    height: 50px;
    width: 870px;
    border-radius: 10px;
    background-color: rgba(219, 219, 219, 0.233);
}

.add-review-button{
    border-radius: 999px;
    border: none;
    font-size: 45px;
    color: whitesmoke;
    background-color: rgba(245, 245, 245, 0.473);
}

.description{
    width: 1000px;
    padding: 15px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 0.07em;
}

.scroll-top-txt{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.15em;

    margin-bottom: 70px;
}

.horizontal-scroll {
    width: 97%;
    display: flex;
    gap: 20px;

    overflow-x: auto;
    overflow-y: hidden;

    padding: 20px;        
    max-width: 100vw;  
    box-sizing: border-box; 

    scroll-behavior: smooth;

    margin-bottom: 50px;
}