.item-page{

    color: silver;
}

.item-card-container {
    height: 750px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;

}

.left-side{
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;

}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 90%;
}


.right-side{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-name{
    letter-spacing: 0.10em;
    font-size: 70px;
    margin-top: 40px;

}

.item-price{
    font-size: 80px;
    margin-bottom: 200px;
    color: white;
}

.mini-description{
    margin-bottom: 50px;
    color: white;

    font-size: 20px;
    letter-spacing: 0.07em;
}

.button{
    font-size: 35px;
    letter-spacing: 0.07em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 350px;
    margin-bottom: 20px;
    border-radius: 30px;
}