.motorcycles-page{
    color: gray;
}

.top-category-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: silver;
    font-size: 40px;

    margin-top: 170px;
}

.filter-sort-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    padding-right: 50px;
    font-size: 25px;    
}

.filter-button{
    margin-right: 20px;
    background-color: transparent;
    border: none;
}

.filter-button-img{
    width: 35px;
}

.sorting{
    letter-spacing: 0.12em;
}


.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding-left: 8%;
    padding-right: 8%;
}