.orders-page{
}

.orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

}

.title{
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.966);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.18em;
    text-transform: uppercase;

    margin-bottom: 70px;
    padding-bottom: 30px;

    border-bottom:2px solid transparent;

    border-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.9),
    transparent
  ) 1;
}

.orders-container{
    width: 85%;
    height: 650px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;


    margin-bottom: 130px;
    padding-right: 10px;

    color: snow;
 
}

.orders-container::-webkit-scrollbar {
    width: 8px;
}

.orders-container::-webkit-scrollbar-track {
    background: #000;
}

.orders-container::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 8px;
}

.open-order{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    background-color: rgba(77, 77, 77, 0.089);
}

.closed-order{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    font-size: 25px;
    color: rgba(223, 223, 223, 0.918);

    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(77, 77, 77, 0.089);
}

.closed-order-date{
    margin-left: 30px;
}

.closed-order-id{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.closed-order-button{
    margin-right: 30px;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 999px;
}




.placeholder{
    width: 100%;
    text-align: center;
}