p{
    padding: 0px;
    margin: 0px;
}

.user-page{

    display: flex;
    flex-direction: row;

}

.menu-container{
    background-color: rgba(0, 0, 0, 0.048);
    
    margin-top: 20px;
    width: 320px;
    border-right: 2px solid;

    border-right:3px solid transparent;

    border-image: linear-gradient(
    to top,
    transparent,
    rgba(107, 107, 107, 0.144),
    transparent
  ) 1;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.username{
    color: rgba(255, 255, 255, 0.788);
    font-size: 28px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.left-button{
    color: rgba(255, 250, 250, 0.993);
    font-size: 23px;
    letter-spacing: 2px;
    width: 85%;
    text-align: center;

    background-color: transparent;
    border: none;
    padding-bottom: 10px;

    border-bottom:3px solid transparent;

    border-image: linear-gradient(
    to right,
    transparent,
    rgba(233, 233, 233, 0.356),
    transparent
  ) 1;
}

.left-button:hover{
    border-image: linear-gradient(
    to right,
    transparent,
    rgb(255, 255, 255),
    transparent
  ) 1;
  cursor: pointer;
}









.account-details{
    height: 100%;
    width: 80%;
    color: rgb(243, 243, 243);
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 30px;

}

.user-info{
    margin-left: 70px;
}

.user-info p{
    margin-top: 10px;
}

.user-info-settings{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
    margin-left: 50px;
}

.setting-button{
    background-color: rgba(211, 211, 211, 0.082);
    color: rgba(120, 255, 219, 0.466);
    font-size: 25px;
    border: none;
    border-radius: 999px;
    padding: 10px 30px;
}

.setting-button:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.034);
}


.sub-title{
    margin-top: 100px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;

    border-bottom:3px solid transparent;

    border-image: linear-gradient(
    to right,
    transparent,
    rgba(228, 228, 228, 0.185),
    transparent
  ) 1;
}

.adres-container{
    width: 88%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;

    margin-top: 40px;

}

.adres-card{
    height: 200px;

    font-size: 22px;
    color: rgb(212, 212, 212);
    background-color: rgba(223, 223, 223, 0.027);
    border: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.adres-card p{
    margin: 5px;
    margin-left: 30px;
}

.add-adres-button{
    height: 200px;
    font-size: 30px;
    color: rgb(226, 226, 226);
    background-color: rgba(223, 223, 223, 0.027);
    border: none;
}

.add-adres-button:hover{
    cursor: pointer;
    background-color: #79797911;
}











.orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    margin-left: auto;
    margin-right: auto;

    color: rgb(238, 238, 238);

}

.orders-container{
    width: 85%;
    height: 650px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 30px;
    margin-bottom: 100px;
    padding-right: 10px;

    color: snow;
 
}

.orders-container::-webkit-scrollbar {
    width: 8px;
}

.orders-container::-webkit-scrollbar-track {
    background: #000;
}

.orders-container::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 8px;
}

.open-order{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    background-color: rgba(77, 77, 77, 0.089);
}

.closed-order{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    font-size: 25px;
    color: rgba(223, 223, 223, 0.918);

    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(77, 77, 77, 0.089);
}

.closed-order-date{
    margin-left: 30px;
}

.closed-order-id{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.closed-order-button{
    margin-right: 30px;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 999px;
}




.placeholder{
    width: 100%;
    text-align: center;
}