.Home-Block4{
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        to right,
        rgb(0, 0, 0) 0%,
        rgb(22, 23, 22) 40%,
        rgb(22, 22, 22) 70%,
        rgb(0, 0, 0) 100%
    );
    border-top: 1px solid white;
    box-shadow: -5px 0 9px rgb(210, 210, 210);
    margin-top: 160px;
}
.footer-top {
    height: 260px;
    padding: 10px 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.footer-bottom {
    height: 40px;
    border-top: 1px solid rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(189, 188, 188);
}


.rider-supply-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    align-items: stretch;
    overflow: hidden;
}
.rider-supply-container h1, .rider-supply-container p {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    padding: 0;
    margin: 0;
}
.footer-img-container {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.footer-img {
    height: 90%;
    width: auto;
    display: block;
}
.rider-supply-p-container {
    color: rgb(200, 200, 200);
}
.media-icons-container {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: flex-start;
    padding-left: 30px;
    gap: 10px;
}
.facebook-img {
    height: 33px;
    width: auto;
}
.instagram-img {
    height: 30px;
    width: auto;
}
.twitter-img{
    height: 28px;
    width: auto;
}
.youtube-img {
    height: 27px;
    width: auto;
}


.quick-link-container {
    flex: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    align-items: center;
    overflow: hidden;
    
}
.quick-link-container h1 {
    font-size: 20px;
    color: white;
}
.quick-link-container a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(168, 201, 192);
}
.quick-link-container h1, .quick-link-container a {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
}
.quick-link-container::before, .quick-link-container::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0%;

    background: linear-gradient(to bottom,
        transparent 0%,
        rgba(180, 180, 180, 0.8) 40%,
        rgba(180, 180, 180, 0.8) 60%,
        transparent 100%
    );
}
.quick-link-container::before{
    left: 0.5px;
}
.quick-link-container::after {
    right: 0.5px;
}
.quick-link-h1-container {
    width: 100%;
    height: 14%;
    display: flex;
    position: relative;
    justify-content: center;
}
.quick-link-h1-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0%;
    background: linear-gradient(to right, 
        transparent 20%,
        rgba(120, 255, 220, 0.8) 40%,
        rgba(120, 255, 220, 0.8) 60%,
        transparent 80%
    );
    bottom: 0;
}

.quick-link-a-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    padding-left: 22%;
    gap: 4px;
}


.support-container {
    flex: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    align-items: center;
    overflow: hidden;
}
.support-container h1 {
    font-size: 20px;
    color: white;
}
.support-container a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(168, 201, 192);
}
.support-a-container .long-a {
    font-size: 18px;
}
.support-container h1, .support-container a {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
}
.support-container::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0%;

    background: linear-gradient(to bottom,
        transparent 0%,
        rgba(180, 180, 180, 0.8) 40%,
        rgba(180, 180, 180, 0.8) 60%,
        transparent 100%
    );
    right: 0.5px;
}
.support-h1-container {
    width: 100%;
    height: 14%;
    display: flex;
    position: relative;
    justify-content: center;

}
.support-h1-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0%;
    background: linear-gradient(to right, 
        transparent 20%,
        rgba(120, 255, 220, 0.8) 40%,
        rgba(120, 255, 220, 0.8) 60%,
        transparent 80%
    );
    bottom: 0;
}
.support-a-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    padding-left: 22%;
    gap: 4px;
}


.news-letter-container {
    flex: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    align-items: center;
    overflow: hidden;
    padding: 0 4px 0 4px;
}
.news-letter-container h1 {
    font-size: 20px;
    color: white;
}
.news-letter-container p {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: rgb(200, 200, 200);
}
.news-letter-email-container .sign-up-text {
    white-space: normal;
}
.news-letter-container h1, .news-letter-container p {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
}
.news-letter-h1-container {
    width: 100%;
    height: 14%;
    display: flex;
    position: relative;
    justify-content: center;

}
.news-letter-h1-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0%;
    background: linear-gradient(to right, 
        transparent 20%,
        rgba(120, 255, 220, 0.8) 40%,
        rgba(120, 255, 220, 0.8) 60%,
        transparent 80%
    );
    bottom: 0;
}
.news-letter-email-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    gap: 4px;
}
.email-input-btn-container {
    display: flex;
}
.email-input {
    flex: 1;
    background-color: rgb(44, 44, 44);
    border: 1px solid #606060;
    border-radius: 4px;
    padding: 10px;
    color: white;
    width: 70%;
}
.sub-btn {
    width: 34%;
    border: none;
    background: linear-gradient(to right, rgb(138, 168, 155), rgb(88, 110, 101));
    border-radius: 2px;
    border: 1px solid rgb(135, 206, 175);
    box-shadow: 1px 1px 3px rgb(149, 238, 199);
    font-weight: bold;
}