
.header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    z-index: 100;

    background: linear-gradient(
        135deg,
        rgb(8, 8, 8),
        rgba(20, 27, 25, 0.999),
        rgb(8, 8, 8)
    );
    color:#8a8a8a;

    border-bottom:2px solid transparent;

    border-image: linear-gradient(
    to right,
    transparent,
    rgba(120, 255, 220, 0.9),
    transparent
  ) 1;

  font-size: 20px;
}


.left-container{
  justify-self: left;
  height: 60px;
  margin-left: 10px;
}

.logo-img{
  height: 100%;
}


.mid-container{
  justify-self: center;
  display: flex;
  gap: 32px;
}

.category-link{
  text-transform: uppercase;
  text-decoration: none;
  color: #d6d6d6;
}

.category-link:hover{
  color: lightgray;
}



.right-container{
  justify-self: right;
  
  height: 35px;
  margin-right: 20px;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;

}

.icon{
  height: 100%;
}