
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    z-index: 100;

    background-color:#0F0F11;
    color:#808384;

    border-bottom:2px solid transparent;

    border-image: linear-gradient(
    to right,
    transparent,
    rgba(120, 255, 220, 0.9),
    transparent
  ) 1;
}