
.header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    z-index: 100;

    background: linear-gradient(
        135deg,
        rgb(8, 8, 8),
        rgba(20, 27, 25, 0.999),
        rgb(8, 8, 8)
    );
    color:#8a8a8a;

    border-bottom:2px solid transparent;

    border-image: linear-gradient(
    to right,
    transparent,
    rgba(120, 255, 220, 0.9),
    transparent
  ) 1;

  font-size: 20px;
}


.left-container{
  justify-self: left;
  height: 60px;
  margin-left: 10px;
}

.logo-img{
  height: 100%;
}


.mid-container{
  justify-self: center;
  display: flex;
  gap: 32px;
}

.category-link{
  text-transform: uppercase;
  text-decoration: none;
  color: #d6d6d6;
}

.category-link:hover{
  color: lightgray;
}



.right-container{
  justify-self: right;
  
  height: 35px;
  margin-right: 20px;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;

}

.icon{
  height: 100%;
}

.user-icon-wrapper{
  height: 100%;
  position: relative;
  display: inline-block;
}

.user-popout {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  top: 77px;
  right: 0px;

  background: linear-gradient(
        135deg,
        rgb(53, 53, 53),
        rgba(20, 27, 25, 0.979),
        rgb(8, 8, 8)
    );
  border: none;
  border-radius: 8px;
  min-width: 200px;
  padding: 8px 0;
  padding-bottom: 15px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: all 0.5s ease;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.user-icon-wrapper:hover .user-popout {
  opacity: 1;
  visibility: visible;
}

.popout-link {
  padding: 12px 14px;
  text-decoration: none;
  color: whitesmoke;
  align-self: center;
}

.user-name{
  align-self: center;
  padding: 8px 14px;
  color: rgba(245, 245, 245, 0.829);
  font-size: 21px;
  padding-bottom: 10px;
  margin-bottom: 5px;

  border-bottom:2px solid transparent;

    border-image: linear-gradient(
    to right,
    transparent,
    rgb(119, 196, 175),
    transparent
  ) 1;
}