
.card-link{
    text-decoration: none;
}

.card{
    height: 460px;
    width: 300px;

    display: flex;
    align-items: center;
    flex-direction: column;

    color: #FBFCFC;
    
}

.card-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-img{
    width: 90%;
    height: 100%;
}

.card-txt-container{
    width: 100%;
}

.card-bike-name{
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding-top: 20px;
}

.card-bike-price{
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding-top: 5px;
    color: rgba(120, 255, 220, 0.9);
}

.cart-link-container{
    width: 100%;
    display: flex;
    justify-content: right;

    margin-top: 20px;
}

.cart-link{
    height: 60px;
    margin-right: 20px;
    background-color: transparent;
    border: none;
}

.cart-link-img{
    height: 100%;
}
