.review-card-container{
    width: 930px;
    background-color: rgba(31, 31, 31, 0.514);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    color: rgb(235, 235, 235);

    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.top-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 22px;
}

.profile-img{
    background-color: rgba(134, 134, 134, 0.575);
    height: 45px;
    width: 45px;
    border-radius: 999px;
}


.mid-txt{
    font-size: 18px;
    line-height: 25px;
    padding-left: 5px;
}

.bottom-stars{
    font-size: 50px;
    padding-left: 5px;
}