.shop-button {
    width: 250px;
    height: 60px;
    background-color: #091110;

    color: #FBFCFC;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    cursor: pointer;

    border-color: #81B6A4;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px 0px #93CFBA;

}