.Home-Block3{
    font-size: 70px;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;


}

.top-txt{
    text-align: center;
    padding-top: 130px;

    color: #FBFCFC;
    font-size: 40px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 80px;
}

.row{
    width: 90%;
    height: 550px;
    margin-bottom: 100px;
    background-color: aliceblue;
    border-radius: 10px;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 35px;

    overflow-x: auto;      
    overflow-y: hidden;
    white-space: nowrap;

    background-image: linear-gradient(to bottom, #131315, #090F0E);
}

.row::-webkit-scrollbar {
  height: 6px;
}

.row::-webkit-scrollbar-thumb {
  background: rgba(120, 255, 220, 0.9);
  border-radius: 10px;
}


