.home-Block1{
    height: 90vh;
    font-size: 70px;
    overflow: hidden;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none; /*buttons stay clickable */
    display: flex;
    align-items: flex;
    justify-content: center;
}
.hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom center;
}

.scroll-left-btn, .scroll-right-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: 2px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: white;
    
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;

}
.scroll-left-btn{
    left: 5%;
}
.scroll-right-btn {
    right: 5%;
}
.shop-button-wrapper {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.shop-btn {
    width: 250px;
    height: 60px;
    background-color: rgba(5, 10, 10, 0.5);

    color: #FBFCFC;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    cursor: pointer;

    border-color: #b0e2d1;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
}
.dot-wrapper {
    position: absolute;
    bottom: 1%;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 26px;
    gap: 16px;
}

.dot, .actvie-dot {
    width: 12px;
    height: 12px;
    background-color: rgb(180, 180, 180);
    border-radius: 50%;
}
.actvie-dot {
    background-color: white;
    width: 14px;
    height: 14px;
}


